[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/Comfy-Org/ComfyUI.git
	ignore = dirty
[submodule "ComfyUI_frontend"]
	path = ComfyUI_frontend
	url = https://github.com/rakaarwaky/ComfyUI_frontend.git
[submodule "ComfyUI-Manager"]
	path = ComfyUI-Manager
	url = https://github.com/rakaarwaky/ComfyUI-Manager.git
